@charset 'UTF-8';

*{
    padding: 0;
    margin: 0;
}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

div.logo img {
    max-width: 100px;
    max-height: 50px;
    padding: 5px;
}

div.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.img-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
div.img-usuario img {
    max-width: 450px;
    max-height: 550px;
}

div.btn-int {
    display: flex;

}

button.btn-style {
    background-color: #fff;
    padding: 10px;
    border: none;
}

button.btn-seg img{
    max-width: 35px;
}

button.btn-pry img {
    max-width: 60px;
}